{% extends "base.html" %}

{% block content %}
    <h2>Task for {{project.name}}</h2>

    <a href="{% url 'create_task' project.pk %}">Create Task</a>


    <h3>Filter Tasks</h3>

    <a href="?status=all" {% if status == "all"  %} style="font-weight: bold;" {% endif %}>
        All ({{ total_count }})
    </a> | 

      <a href="?status=pending" {% if status == "pending"  %} style="font-weight: bold;" {% endif %}>
        Pending ({{pending_count}})
    </a> | 

      <a href="?status=completed" {% if status == "completed"  %} style="font-weight: bold;" {% endif %}>
        Completed ({{completed_count}})
    </a> | 


    <h4>Sort Task By</h4>
    <a href="?status={{status}}&order=newest">Newest</a>
    <a href="?status={{status}}&order=oldest">Oldest</a>

    <h4>Search Tasks</h4>
    <form method="get">
        <input type="text" name="search" value="{{ search }}" placeholder="Search Tasks"/>
        <input type="hidden" name="status" value ="{{ status }}"/>
        <input type="hidden" name="order" value ="{{ order }}"/>
        
        <button type="submit">Search</button>
    </form>
    
    

    {% for task in tasks %}
        <li>
            <br>
            {{task.title}}

            {% if not task.is_completed and  user == project.owner or task.assigned_to == user %}
                <a href="{% url 'edit_task' task.pk %}">Edit Task</a>
            {% endif %}
            {% if task.assigned_to %}
                Assinged To : {{task.assigned_to.username}}
            {% endif %}

            Status: 
            {% if task.is_completed %}
                Completed
            {% else  %}
                Pending
            {% endif %}

            {% if request.user == project.owner and not task.is_completed %}
                <a href="{% url 'assign_task' task.pk %}">Assign Task</a>
            {% endif %}

            
            {% if request.user == project.owner %}
                <a href="{% url 'delete_task' task.pk %}">Delete Task</a>
            {% endif %}

            {% if not task.is_completed%}
                {% if user == project.owner or task.assigned_to == user%}
                    <form action="{% url 'complete_task' task.id %}" method="post" onsubmit="return confirm('Are you sure you want to mark this task as completed')" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Mark as Completed</button>
                    </form>
                {% endif %}
            {% else %}
                    <p>
                        Task is Complted by {{task.completed_by.username}} at {{task.completed_at}}
                    </p>

            {% endif %}
            <br>
        </li>
    {% empty %}
        <p>No Tasks to List</p>
    {% endfor %}

    <div>
        {% if page_obj.has_previous %}
            <a href="?status={{ status }}&order={{ order }}&search={{ search }}&page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>

        {% if page_obj.has_next %}
            <a href="?status={{ status }}&order={{ order  }}&search={{ search }}page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </div>

    <a href="{% url 'list_projects' %}">Back to Projects</a>

{% endblock %}