{% extends "base.html" %}

{% block content%}
<h2>Your Projects</h2>
<a href="{% url 'create_project' %}">Create New  Project</a>
<ul>
    {% for item in project_data %}
        <li>
            {{item.project.name}}
            {% if user == item.project.owner %}
                <form action="{% url 'delete_project' item.project.pk %}" method="post">
                    {% csrf_token%}
                    <button>Delete</button>
                </form>
                
                {% if item.can_create_task %}
                    <a href = "{% url 'create_task' item.project.pk %}">Create Task</a>
                {% endif %}
            {% endif %}
        </li>
    {% empty %}
        <p>No Projects to Display</p>
    {% endfor %}
</ul>

{% endblock %}